#clients-carousel{
    max-width: 1200px;
    margin: 0 auto;

    .clients{
        img{
            border-radius: 50%;
            transition: transform .3s ease;
            &:hover{
                transform: scale(.95);
            }
        }
        blockquote{
            .svg-inline--fa{
            margin: 1rem;
            color: #1ebba3;
            }
        }
        .clients-hr{
            border-top: .1rem solid $secondaryFontColor;
        }
    }
}